@import "../../styles/partials/variables";

.upload__main {
  padding: 0 15px;
}

.upload__video--title {
  font-family: "Avenir Bold";
  margin: 1rem 0;
  padding-top: 1.5rem;
  border-top: 1px solid #e1e1e1;
}

.upload__video--subheading > h2 {
  font-size: 15px;
  color: $silver;
  padding: 1rem 0 0.55rem 0;
}
.upload__video--subheading {
  padding-bottom: 20px;
}

.upload__video {
  background-image: url("../../assets/Images/Upload-video-preview.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 0.3125rem;
  margin-bottom: 2rem;
  height: 10rem;
  width: 20rem;
}
.upload__text-container {
  border-radius: 4px;
  font-family: "Avenir Regular";
  padding: 15px 0 0 10px;
  background-color: #fafafa;
  font-size: 14px;
  border: 1px solid #e1e1e1;
  color: $brainflix-black;
}

.upload__publish--button {
  background-image: url(../../assets/Icons/publish.svg);
  background-color: $brainflix-blue;
  background-repeat: no-repeat;
  height: 40px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  vertical-align: middle;
  background-position: 10px;
  font-family: "Avenir Regular";
  color: #ffffff;

  &:hover {
    background-color: $brainflix-darkblue;
  }
}

.upload__cancel--button {
  border: none;
  background-color: $white;
  color: $brainflix-blue;
  font-size: 17px;
  margin: 30px 190px;
  font-weight: bold;
}
