@font-face {
  font-family: "Avenir Regular";
  src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Bold";
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: bold;
}
* {
  font-family: "Avenir Regular";
  margin: 0;
}

@media (min-width: 1280px) {
  .main__content--container {
    display: flex;
  }
}
@media (min-width: 1280px) {
  .main__content--left-container {
    width: 70%;
  }
}